* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;

}

:root {
    --h1-h2-h3-color: #000000;
    --p-a-color: #0F0101;
    --background: #F8EDF0;
    --buuton-color: #D64374;
    --active-color: #2e43de;
    --b-radius: 5px;
    --button-color: #fff;
    --border: solid 2px var(--buuton-color);
    --footer: #0A0808;

}

.contoiner {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 80px;
    padding: 0 99px;

}

body,
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header {
    background-color: var(--background);
    height: 900px;
    max-width: 100%;
}

.header__box {
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar {
    gap: 40px;
    display: flex;
}

.header__link {
    color: var(--p-a-color);
}

.header__link:hover {
    color: var(--buuton-color);
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
}

.header__link:active {
    color: var(--active-color);
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

.header__button {
    width: 165px;
    height: 49px;
    border-radius: var(--b-radius);
    background-color: var(--buuton-color);
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    border: var(--border);
    color: var(--button-color);
    display: block;

}

.header__button:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    color: var(--buuton-color);
    background-color: var(--button-color);
}

.header__button:active {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    color: var(--active-color);
    background-color: var(--button-color);

}

h,
p,
a {
    font-family: 'Roboto';
}

/* header__box-head */

.header__box-head {
    display: flex;
    margin-top: 52px;
    height: 800px;
}

.header__head__navbar {
    margin-top: 144px;
}

.header__head__h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #0F0101;
}

.header__head__h1 {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 57.33px;
    line-height: 120.5%;
    color: #0F0101;
    opacity: 0.9;
    width: 616px;

}

span {
    color: var(--buuton-color);
}

.header__head__tex {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0F0101;
    opacity: 0.6;
    width: 400px;
    height: 79px;
    margin-top: 35px;
}



.header__head__button {
    width: 165px;
    height: 49px;
    border-radius: var(--b-radius);
    background-color: var(--buuton-color);
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    border: var(--border);
    color: var(--button-color);
    margin-top: 50px;
    display: block;

}

.header__head__button:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    color: var(--buuton-color);
    background-color: var(--button-color);
}

.header__head__button:active {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    color: var(--active-color);
    background-color: var(--button-color);
}

.header__head__img {
    position: relative;
}

#header__head__img1 {
    position: absolute;
    top: 300px;
    left: 130px;
}

#header__head__img2 {
    position: absolute;
    top: 153px;
    left: -132px;
}

.header__head__img:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    cursor: grab;
}

.header__head__navbar:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    cursor: grab;
}

/* section__intro */

.section__intro {
    height: 470px;
    display: flex;
    align-items: center;
}

.section__intro__box {
    display: flex;
    gap: 40px;
    margin-left: 99px;
}

.section__intro__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 200px;
    padding: 30px 26px;
    background: #FFFFFF;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
    border-radius: 7px;
}

.section__intro__card:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    cursor: grab;
    background-color: var(--buuton-color);
    color: var(--button-color);

}

.section__intro__titil {
    margin-top: 25px;
}

.section__intro__text {
    margin-top: 10px;
    width: 193px;
}

/* section2 */

.section2 {
    background-color: var(--background);
    height: 650px;
}

#section2__image {
    margin-left: 225px;
}

#section2__image:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    cursor: grab;
}

.section__head__h1 {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    width: 349px;
    color: #150101;
}

/* section3  */

.section3__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
}

.section3__head {
    display: flex;
}

.section3__head__h1 {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    color: #150101;
}

.section3__head__h1:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    color: var(--buuton-color);
    cursor: grab;
}

.section3__head__h1:active {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    color: var(--active-color);
    cursor: grab;
}

.section3__navbar__titli {
    display: flex;
    gap: 40px;
    margin-top: 65px;
}

.section3__navbar__titli__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
}

.section3__navbar__titli__link:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    color: var(--buuton-color);
}

.section3__navbar__titli__link:active {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    color: var(--active-color);
}

/* Maxsulotlar-ro'yxati */

.section3__box2 {
    display: flex;
    margin-top: 50px;

}

.section3__box2__img {
    width: 50%;
}

.section3__navbar2 {
    margin-top: 60px;
    width: 50%;
    flex-direction: column;
}

.section3__navbar2__title {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}

.section3__navbar2__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
    margin-top: 10px;
    width: 456px;
}

.section3__navbar2__sum {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
    margin-top: 30px;
    display: inline-block;
}

.section3__navbar2__atmen__sum {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: #000000;
    opacity: 0.7;
    display: inline-block;
    margin-left: 10px;
}

.section3__navbar2__left {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: flex-end;
}

.section3__box2__img__left {
    margin-left: 170px;
}

.section3__box2__img__left:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    color: var(--buuton-color);
    cursor: grab;
}

.section3__navbar2:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    color: var(--buuton-color);
    cursor: grab;
}

.section3__navbar2:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    color: var(--buuton-color);
    cursor: grab;
}

.section3__navbar2__left:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    color: var(--buuton-color);
    cursor: grab;
}

.section3__box2__img:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    color: var(--buuton-color);
    cursor: grab;
}

.section3__footer__box2 {
    display: flex;
}

.section3__footer__box {
    display: flex;
    margin-top: 60px;
    align-items: center;
}

.section3__footer__img {
    border-radius: 50%;
    width: 59px;
    height: 59px;
}

.section3__footer__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-left: 20px;
}

.section3__footer__h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    opacity: 0.7;
    margin-left: -450px;
}

.section3__footer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.section3__footer__nav {
    margin-top: 60px;
    display: flex;
    gap: 75px;
    align-items: center;
    margin-left: 20px;
}

.section3__footer__imgs1 {
    border-radius: 50%;
    width: 43px;
    height: 43px;
}

.section3__footer__imgs2 {
    border-radius: 50%;
    width: 60px;
    height: 60px;

}

.section3__footer__imgs2:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    color: var(--buuton-color);
    cursor: grab;
    border: 2px solid #D64374;
}

.section3__footer__imgs1:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    color: var(--buuton-color);
    cursor: grab;
    border: 2px solid #D64374;
}

.section3__footer__img:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    color: var(--buuton-color);
    cursor: grab;
    border: 2px solid #D64374;
}

.section3__footer__pos1 {
    position: relative;
}

.section3__footer__pos1 {
    position: absolute;
    left: 74px;
    right: 50px;
    top: 4127px;
    ;
}

.section3__footer__pos2 {
    position: absolute;
    left: 455px;
    right: 50px;
    top: 4127px;
    ;
}

.section3__footer__pos3 {
    position: absolute;
    left: 73px;
    right: 50px;
    top: 3968px;
    ;
}

.section3__footer__pos4 {
    position: absolute;
    left: 380px;
    right: 50px;
    top: 4030px;
}

/* section4 */


.section4 {
    background-color: var(--background);
    height: 648px;

}

.section4__box {
    max-height: 100%;
    height: 765px;
    display: flex;
    margin-top: 120px;
    /* padding: 0 220px; */
}

.section4__img {
    width: 40%;
    margin-top: 82px;
}

.section4__box2 {
    width: 60%;
}

.section4__navbar {}

.section4__navbar__title {
    margin-top: 129px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 44.2px;
    line-height: 52px;
    color: #000000;
}

.section4__navbar__text {
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #0F0101;
    opacity: 0.7;
    width: 805px;

}

.section4__navbar__icon {
    display: flex;
    align-items: center;
    margin-top: 40px;

}
.Img__icon{
    border: solid 1px var(--buuton-color);
    background-color: #fff;
    width: auto;
}
.section4__navbar__icon__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-left: 10px;
}
.section4__footer__navbar{
    margin-top: 45px;
    display: flex;
}














footer {
    flex-shrink: 0;
    background-color: var(--footer);
    height: 381px;
    max-width: 100%;
}

.footer__box {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer__navbar1__logo {
    margin-top: 60px;
}

.footer__navbar1__text {
    width: 207px;
    height: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.7;
    margin-top: 10px;
}

.footer__navbar1__titile {
    width: 46px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 50px;
}

.footer__navbar2 {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.footer__navbar3 {
    display: flex;
    gap: 10px;
}

.footer__navbar3__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 5px 0;
}

.footer__navbar4__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 5px 0;
    margin-top: 20px;
}

.footer__navbar3__link:hover {
    color: var(--buuton-color);
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
}

.footer__navbar4__link:hover {
    color: var(--buuton-color);
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
}

.footer__navbar4__link:active {
    color: var(--active-color);
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

.footer__navbar3__link:active {
    color: var(--active-color);
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

.footer__navbar5 {
    display: flex;
    flex-direction: column;
}

.footer4__icon {
    gap: 10px;
}

.footer__navbar6 {
    display: flex;
    column-gap: 15px;
    margin-top: 20px;
}

.footer__input__box .footer__form #footer__imut {
    position: relative;
    width: 100%;
    outline: none;
    font-size: 1rem;
    margin-top: 8px;
    padding: 0 15px;
    border-radius: var(--b-radius);
    border: 2px solid #D64374;
}

#fotter__lebl {
    color: var(--button-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

#footer__imut {
    height: 57px;
    background-color: var(--footer);
    color: #fff;
}

.footer__button {
    position: absolute;
    top: 713.7%;
    left: 86%;

    width: 109px;
    height: 49px;
    border-radius: var(--b-radius);
    background-color: var(--buuton-color);
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    border: var(--border);
    color: var(--button-color);
    display: block;
}

.footer__button:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-in-out;
    color: var(--buuton-color);
    background-color: var(--button-color);
}